body {
	background: black;
	font-family: 'Roboto Slab', serif;
	user-select: none;
}

.red {
	color: red;
}

.green {
	color: lime;
}

.white {
	color: white;
}

.centered {
	text-align: center;
}

audio {
	display: none;
}

.clear {
	clear: both;
}

#game {
	display: none;
	text-align: center;
}

#top {
	width: 960px;
	margin: 0 auto;
}

#levels {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;
	text-align: right;
	margin-top: 40px;
	font-size: 1.3em;
}

.active {
	color: orange !important;
	font-weight: bold;
	text-decoration: underline;
}

#options {
	width: 960px;
	height: 70px;
	margin: 0 auto;
}

#question-box {
	width: 932px;
	height: 36px;
	margin: 10px auto;
	padding: 10px;
	font-size: 1.5em;
	color: white;
	border-style: solid;
	border-width: 2px;
	border-color: #1a88e5;
}

.big-text {
	color: #FF7E00;
	font-size: 2em;
	margin-right: 15px;
}

.pre-start-text {
	color: #FF7E00;
	position: absolute; /* taken out of the normal flow of the document */
	top: 50%; /* moved down by 50% of the screen height */
	transform: translateY(-50%); /* moved back up (Y axis) by half of its height to achieve the perfect center */
	width: 100%; /* needs to be defined to keep the default block behavior */
	text-align: center;
	margin: 0; /* again, for perfect center */
	font-size: 128px;
	font-weight: bold;	
}

.answer-text {
	text-align: center;
}

#money {
	font-size: 1.9em;
	font-weight: bold;
	color: green;
	float: right;
	display: block;
	height: 50px;
	padding-top: 20px;
}

#logo {
	width: 480px;
	float: left;
	margin-left: 240px;
	margin-top: 60px;
}

#game-over {
	display: none;
	font-size: 8em;
	font-weight: bold;
	color: white;
	width: 980px;
	margin-top: 300px;
	margin: 0 auto;
	text-align: center;
}

#fifty {
	background: url('../img/50-50.png') no-repeat 0 0;
}

#phone-friend {
	background: url('../img/phone-friend.png') no-repeat 0 0;
}

#audience {
	background: url('../img/audience.png') no-repeat 0 0;
}

#answer-box {
	color: white;
	font-size: 1.3em;
	text-align: left;
	table-layout: fixed;
	width: 960px;
	margin: 0 auto;
}

.answer-wrapper {
	table-layout: fixed;
	width: 100%;
}

#pre-start {
	display: none;
}

#pre-pre-start {
	display: all;
}

.answer {
	table-layout: fixed;
	width: 100%;
	height: 100px;
	border-style: solid;
	border-width: 2px;
	border-color: #1a88e5;
}

.answer:hover {
	cursor: pointer;
}

.answer-text:hover {
	text-decoration: underline;
}

.options-button {
	width: 64px;
	height: 50px;
	margin-left: 12px;
	float: left;
	background-position: 0 0;
}

.hoverable:hover {
	filter: brightness(150%);
	cursor: pointer;
}